@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth !important;
}

body {
  color: #fff;
  background-color: #222831;
  width: 100%;
  height: 100%;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* if a check with id all getts checked change background of the neighbor with .all */

#all:checked~.all,
#website:checked~.web,
#application:checked~.app,
#graphics:checked~.graph {
  background-color: #00adb5;
}

/* whenever an inactive is selected turn the rest bg to transparent */
#all:checked~.web,
#all:checked~.app,
#all:checked~.graph,
#website:checked~.all,
#website:checked~.app,
#website:checked~.graph,
#application:checked~.all,
#application:checked~.web,
#application:checked~.graph,
#graphics:checked~.all,
#graphics:checked~.web,
#graphics:checked~.app {
  background-color: transparent;
}

.button-bg {
  background: linear-gradient(99.9deg, #cce7e9 -14.1%, #43d0f7 73.01%);
  box-shadow: 0px 0px 18px 4px #43d0f770;
}

.one {
  z-index: 1;
  opacity: 1;
  background: #353535;
  animation: goingToOne 2s;
}

.two {
  @apply -translate-x-2 translate-y-5 -rotate-[15deg];
  opacity: 0.7;
  z-index: 0;
  background-color: #353535;
  background-color: #353535;
  animation: goingToTwo 2s;
}

.three {
  @apply -translate-x-2 translate-y-12 -rotate-[32deg];
  z-index: -1;
  opacity: 0.5;
  perspective: 1000px;
  background-color: #353535;
  animation: goingToThree 2s;
}

@keyframes goingToOne {
  0% {
    @apply -translate-x-2 translate-y-5 -rotate-[15deg];
    opacity: 0.7;
    z-index: 0;
    background-color: #353535;
    background-color: #353535;
  }

  40% {
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }

  100% {
    opacity: 1;
    z-index: 1;
    background: #353535;
    animation: flyRotateRight 0.5s;
  }
}

@keyframes goingToTwo {
  0% {
    @apply -translate-x-2 translate-y-12 -rotate-[32deg];
    z-index: -1;
    opacity: 0.5;
    background-color: #353535;
  }

  40% {
    opacity: 0.7;
    transform: rotate(-15deg) translateX(-8px) translateY(20px);
  }

  100% {
    opacity: 0.7;
    z-index: 0;
    transform: rotate(-15deg) translateX(-8px) translateY(20px);
    background-color: #353535;
  }
}

@keyframes goingToThree {
  0% {
    transform: rotate(0deg) translateX(0px);
    z-index: 1;
    opacity: 1;
    background: #353535;
  }

  20% {
    opacity: 0;
  }

  40% {
    @apply translate-y-12 -rotate-[32deg];
  }

  60% {
    opacity: 0.3;
  }

  100% {
    z-index: -1;
    opacity: 0.5;
    background-color: #353535;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.shadowSlider {
  box-shadow: 0px 0px 18px 4px #43d0f714;
  border-radius: 1rem;
}

.rect {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #2f404b;
  filter: blur(2px);
  border-radius: 12px;
}

.rect2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #43d0f7d8;
  filter: blur(2px);
  border-radius: 12px;
}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 18px 4px #5fe0f9;
}

.button {
  z-index: 2;
  padding: 15px 60px;
  overflow: hidden;
  position: relative;
  background-color: linear-gradient(99.9deg, #cce7e9 -14.1%, #43d0f7 73.01%);
  transition: all 0.5s;
}

.button span {
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background: linear-gradient(99.9deg, #cce7e9 -14.1%, #43d0f7 73.01%);
  z-index: -1;
  border-radius: 99rem;
  transform: translateX(-100%);
  transition: all 0.5s;
}

.gradient {
  background: linear-gradient(99.9deg, #cce7e9 -14.1%, #43d0f7 73.01%);
}

.button:hover::before {
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.5s;
}

.button:hover {
  box-shadow: 0px 0px 18px 4px #5fe0f9;
}

.link {
  text-decoration: none;
  transition: all 0.5s;
}

.link:hover {
  color: #5fe0f9;
}

.linkSocial {
  text-decoration: none;
  transition: all 0.5s;
}

.linkSocial:hover {
  color: #5fe0f9;
  box-shadow: 0px 0px 18px 4px #5fe0f9;
  scale: 1.1;
  @apply duration-500;
}

.underl {
  position: relative;
  transition: all 0.5s;

}

.underl:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #43D0F7;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 50%;
  /* adjust as needed */
}

.custom-select::after {
  content: '\25BC';
  color: #bbbbbb;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 0;

  transform: translateY(-50%);
}

/* Hide default arrow in some browsers */
.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.boxShadow {
  /* box-shadow: 0px 0px 18px 4px #43d0f7; */
}

.sent {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
}

.hide {
  opacity: 0;
  transform: translateY(-50%) translateX(-50%);
}